/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 27, 2016, 7:07:18 AM
    Author     : yuken
*/

/*
#w0-container > table > thead > tr:nth-child(1) > th:nth-child(1) {
    width: 2.5%;
}
#w0-container > table > thead > tr:nth-child(1) > th:nth-child(2) {
    width: 10%;
}
#w0-container > table > thead > tr:nth-child(1) > th:nth-child(3) {
    width: 19%;
}
#w0-container > table > thead > tr:nth-child(1) > th:nth-child(4) {
    width: 20%;
}
#w0-container > table > thead > tr:nth-child(1) > th:nth-child(5) {
    width: 19%;
}
*/